<!DOCTYPE html>
<html>
 
    <head>
        <title></title>
    </head>
 
    <body>
 
      <a href="df">Processes</a> <br/>

      <a href="free">Memory</a> <br>

      <a href="stat">Stat</a>
   
    </body>
</html>

